{% extends 'base.html.twig' %}

{% block title %}FAQ{% endblock %}

{% block body %}

    <div class="blog-header">
        <div class="container">
            <h1 class="blog-title">Default listing</h1>
            <p class="lead blog-description">This templates shows a plain listing of all categories and it's corresponding questions.</p>
        </div>
    </div>

    <div class="container">

        <h2>Categories</h2>
        <ul>
            {% for category in categories %}
                {% if selectedCategory.slug is defined and selectedCategory.slug == category.slug%}
                    <li class="active"  >
                        <strong>{{ category.headline }}</strong>
                    </li>
                {% else %}
                    <li>
                        <a href="{{ path('genj_faq_faq_index', { 'categorySlug': category.slug }) }}">{{ category.headline }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        </ul>

        {% if selectedCategory is not null %}
            <h2>Questions</h2>
            <ul>
                {% for question in questions %}
                    {% if selectedQuestion.slug is defined and selectedQuestion.slug == question.slug%}
                        <li class="active">
                            <strong>{{ question.headline }}</strong>
                            <div>{{ selectedQuestion.body }}</div>
                        </li>
                    {% else %}
                        <li>
                            <a href="{{ path('genj_faq_faq_index', { 'categorySlug': selectedCategory.slug, 'questionSlug': question.slug }) }}">{{ question.headline }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
            </ul>
        {% endif %}
    </div>
{% endblock %}
